.grid-container{
    display: grid;
    grid-template-columns: repeat(9,auto);
    gap: 10px;
    padding: 10px;
    background-color: #2196F3;
}
.grid-container>div{
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px 0;
    font-size: 30px;
}
.header{
    grid-column: 1/ span 9;
    grid-row: 1;
}
.left{
    grid-column: 1/ span 2;
    grid-row: 2;
}
.content{
    grid-column: 3/ span 5;
    grid-row: 2;
}
.right{
    grid-column: 8/ span 2;
    grid-row: 2;
}
.footer{
    grid-column: 1/ span 9;
    grid-row: 3;
}
