.border{
    border: 2px solid black;
    width: fit-content;
    margin: 10px auto;
}

th{
    text-align: center;
    color: blue;
}
td{
    padding-left: 10px;
    padding-right: 50px;
    padding-bottom: 10px;
}

.formdc_st{
    width: 400px;
    height: 100px;
}
input{
    border: 1px solid rgb(101, 161, 230);
}
select{
    border: 1px solid rgb(101, 161, 230);

}