*{
    margin: 0;
    font-size: 14px;
    line-height: 25px;
}
.content{
    position: relative;
    display: flex;
    width: 1230px;
    margin: 10px auto;
}

table, td, th{
    border: 1px solid black;
    border-collapse:collapse;
}
.title{
    position: absolute;
    
}
.ThongTinChung{
    position: absolute;
    top: 50px;
    right: 0;
}

.SP{
    position: absolute;
    top: 50px;
    left: 0;
}

.TNNB td,table{
    text-align: center;
    padding: 15px;
    border: 1px solid rgb(128, 128, 128,0.3);
}

.ThongTinSP td,table,th{
    margin: 20px;
    padding: 5px;
    text-align: left;
    border-color:rgb(128, 128, 128,0.4) ;
    border-left:0px ;
    border-right:0px ;
}

.ThongTinSP th,td{
    text-align: left;
    padding: 8px;
}
.ThongTinSP th{
    background-color: rgb(128, 128, 128,0.4);
}



hr{
    border: 1px solid red;
}
.border_pro{
    border: 1px solid red;
    border-radius: 3px;
    width: 600px;
    margin: 20px 0px;
}

.List1{
    text-transform: capitalize;
}
.List1 li::marker{
    color: red;
}
.List2{
    margin: 10px 0px;
}

.content_mini{
    border: 0px solid;
    background-color: rgb(0, 0, 0,0.2);
    width: 580px;
    margin-top: 20px;
    padding: 10px;
}
