.border{
    width: fit-content;
    margin: 10px auto;
}

.borderchild1 p{
    text-align: right;
}
.borderchild1 th{
    background-color: aqua;
}

.borderchild2 p{
    text-align: center;
}
.borderchild2 th{
    background-color: blue;
    color: white;
}

table,th,td
{
    border: 2px solid black;
    border-collapse: collapse ;
}

table{
    width: 700px;
    border: 1px;
}
input{
    height: 50px;

}
p{
    padding-right: 10px;
}
