.grid-container{
    display: grid;
    grid-template-columns: 250px 250px 250px 250px;
    gap: 10px;
    width: fit-content;
    margin: 0 auto;
}
.grid-container > div{
    /* border: 1px solid red; */
    padding: 10px;
}
