div{
    width: 200px;
    padding: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    background-color: #909;
    color: #fff;
    border-radius: 10px;
    margin: 100px 0px;
    position: relative;
    animation: ani 5s linear 1s 2 alternate;

}
@keyframes ani {
    0%{background-color: #909; left: 0px;}
    25%{background-color: #c3f; left: 20%;}
    50%{background-color: #f9f; left: 40%; transform: rotate(180deg)}
    75%{background-color: #f6f; left: 60%;}
    100%{background-color: #f0f; left: 85%;}
}

