body{
    margin: 0;
    padding: 0;
}

.header{
    display: flex;
}
.title{
    width: fit-content;
    margin-left: 20px;
}
.title h1{
    color: red;
}
.title h2{
    color: blue;
}
.title hr{
    border: 2px solid orangered;
}
.menu{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: rgb(0, 136, 255);
}
.menu ul{
    list-style-type: none;
    display: flex;
}
.menu ul li{
    padding-left: 20px;
}
.menu ul li a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bolder;
}


#search{
    border: 1px solid black;
    width: max-content;
    border-radius: 28px;
    align-items: center;
    background-color: white;
    display: flex;
}
#search input{
    font-size: 16px;
    width: 300px;
    outline: none;
    border: none;
    background: transparent;
}
#search button{
    outline: none;
    border: none;
    background: transparent;
}
.banner img{
    width: 100%;
}

.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
}
.grid-container h3{
    color: rgb(0, 136, 255);
    margin-left: 50px;
}
.grid-container hr{
    border-color: rgb(0, 136, 255);
}
.grid-container a{
    color: rgb(0, 136, 255);
    text-decoration: none;
}
.grid-container img{
    width: 400px;
    height: 400px;
}
.grid-container ul{
    list-style-type: square;
    color: red;
}
.tttb{
    grid-column: 1/span 3;
}
.mini-title
{
    /* border: 2px solid rgb(0, 136, 255); */
    padding: 10px;
}
.footer{
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: rgb(0, 136, 255);;
}



