table{
    border-collapse: collapse;
    margin: 10px auto;
}
td,th{
    border: 1px solid red;
    border-collapse: collapse;
    width: 150px;
}
.hiden td{
    border: 0px;
}

.dong1{
    background-color: #ff0000;
    color: white;
}
.dong3{
    background-color: #ffbbbb;
    color: #ff0000;
}

li{
    color: black;
    font-weight: 100;
    list-style-image: none;
}

.type_li{
    color: red;
    font-weight: bolder;
    list-style-image: url(image/stop-button.png);

}



