.grid-container{
    display: grid;
    grid-template-columns: repeat(10,auto);
    gap: 10px;
    padding: 10px;
    background-color: #2196F3;
}
.grid-container>div{
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px 0;
    font-size: 30px;
}
.header{
    grid-column: 1/ span 10;
    grid-row: 1;
}
.link{
    grid-column: 1/ span 10;
    grid-row: 2;
}
.menu{
    grid-column: 1/ span 2;
    grid-row: 3/span 2;
}
.content{
    grid-column: 3/ span 6;
    grid-row: 3;
}
.right{
    grid-column: 9/ span 2;
    grid-row: 3 /span 2;
}
.sub-footer{
    grid-column: 3/ span 6;
    grid-row: 4;
}
.footer{
    grid-column: 1/ span 10;
    grid-row: 5;
}
