body{
    margin: 0px;
}
.border{
    /* border: 2px solid black; */
    width: fit-content;
    height: 700px;
    margin: 10px auto;
    justify-content: space-between;

}
.radio_container{
    display: flex;
}

.radio_box{
    background-color: #ccc;
    display: flex;
    width: 400px;
    height: 60px;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}
.radio_box img{
    margin: 10px;
}
.radio_box input{
    margin: 20px;
}
.radio_box p{
    margin-right: 15px;
}

.text_box{
    /* border: 1px solid red; */
    width: 400px;
    height: 60px;
    align-items: center;
    margin-right: 20px;
    position: relative;
}
.lable_text{
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
    background-color: white;
    color: grey;
    padding: 0 8px;
}
.text_box input{
    width: 390px;
    height: 35px;
}
.text_box select{
    width: 399px;
    height: 40px;
}

.dc input{
    width: 812px;
    height: 35px;
}

.comment input{
    width: 815px;
    height: 70px; 
}

.radio_box_mini{
    border: 1px solid red;
    display: flex;
    width: 260px;
    height: 60px;
    justify-content: left;
    align-items: center;
    margin-right: 18px;
    padding: 0px;

}
.radio_box_mini img{
    margin: 10px;
}
.radio_box_mini input{
    margin: 0px;
}
.radio_box_mini p{
    margin-right: 15px;
}

.checkbox{
    border: 1px solid #ccc;
    margin-top: 10px;
    width: 820px;
    height: 25px;
}
span{
    color: red;
}

.thanhtoan input{
    border: 0px;
    width: 820px;
    height: 40px;
    color: white;
    font-weight: bolder;
    background-color: #FA8072;
}