.content{
    border: 0px solid;
    width: fit-content;
    margin: 10px auto;
    text-align: left;
}
.BorderRed{
    border: 1px solid red;
    width: 100px;
    padding: auto;
}
.BorderGreen{
    border: 1px solid rgb(5, 88, 5);
    background-color: rgb(10, 134, 10,0.1);
    width: fit-content;
    padding: 10px;
}
.BorderBlue{
    border: 1px solid blue;
    background-color: rgb(0, 0, 255,0.1);
    width: fit-content;
    padding: 10px;
}