.sidebar{
    height: 130px;
}
.sidebar ul{
    display: flex;
    list-style-type: none;
    color: white;
    padding: 0;
    margin: 10px 20px;
}
.sidebar ul li{
    line-height: 20px;
    border-bottom: 1px solid white;
}
.sidebar ul li a{
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 10px;
    background-color: blue;
}
.sidebar ul li a:hover{
    font-weight: bold;
    background-color: orange;
}