.sidebar{
    background-color: #00f;
    width: 400px;
    height: 130px;
}
.sidebar ul{
    list-style-type: none;
    color: white;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
}
.sidebar ul li{
    line-height: 20px;
    border-bottom: 1px solid white;
}
.sidebar ul li a{
    color: white;
    text-decoration: none;
    padding: 0 20px;
}
.sidebar ul li a:hover{
    font-weight: bold;
    background-color: #900;
}