table{
    border: 1px solid black;
    border-collapse: collapse;
    border-spacing: 10px;
    padding: 20px;
    width: 600px;
    height: 400px;
}
.row1{
    background-color: blue;
    text-align: center;
    vertical-align: middle;
}
.row2{
    text-align: center;
    vertical-align: top;
}
.row3{
    text-align: center;
    vertical-align: middle;
}