h1{
    letter-spacing: 0.1rem;
    text-transform: capitalize;
    line-height: 1.25;
    margin-bottom: 0.75rem;
    font-family: "Roboto",sans-serif;
    font-size: 4rem;
}
main{
    min-height: 100vh;
    display: grid;
    place-items: center;
}
#value{
    font-size: 4rem;
    
    color: black;
    line-height: 2.25;
    font-weight: 700;
}
.container{
    text-align: center;
}
.button-container{
    font-family: "Roboto",sans-serif;
}
.button-container button{
    font-family: "Roboto",sans-serif;
    text-transform: uppercase;
    background: transparent;
    color: #222;
    letter-spacing: 0.1rem;
    display: inline-block;
    font-weight: 700;
    transition: all 0.3s linear;
    border: 2px solid #222;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 0.25rem;
    font-size: 1rem;
    padding: 0.75rem 1.25rem;
}