*{
    font-size: large;
}
table,th,td{
    border: 2px solid purple;
    border-collapse:collapse ;
    text-align: center;
    width: fit-content;
}
th{
    background-color: greenyellow;
}
.border{
    border: 1px solid black;
    padding: 5px 3px;
    max-width: fit-content;
    margin: 10px auto;
}