*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.boderoutside{
  border: 0px solid;
  background-color: red;
  color: white  ;
  width: 500px;
  height: 800px;
  padding: 12px;
  margin: 10px auto;
}
.boderinside{
  border: 0px solid;
  width: 480px;
  height: 700px;
  background-color: white;
  padding: 10px 10px;
  color: black;
}
.noneline{
  display: inline;
  margin: 0;
}

#DMSP{
  border: 0px solid;
  background-color: rgb(0, 0, 0,0.68);
  color: white;
  padding: auto;
  width: 150px;
  height: 20px;
  font-size: 13px;
}


.searchbox{
  position: relative;
  width: 185px;
  height: 20px;
}
.searchbox button{
  position: absolute;
  height: 20px;
  top: 0px;
  right: 0px;
  background-color: red;
  border: 0px;
}
.searchbox input{
  height: 20px;
  border: red solid 1px;
}

.buoc2{
  position: relative;
}
.muangay{
  position: absolute;
  border: 0px solid;
  border-radius: 10px;
  color: white;
  background-color: red;
  width: 100px;
  height: 30px;
  text-align: center;
  top: 25px;
  left: 60px;
}

.list_ul{
  position: absolute;
  top: 60px;
  left: 25px;
}
.thanhtoan{
  position: absolute;
  color: white;

  border: 0px solid;
  border-radius: 10px;
  background-color: green;
  width: 100px;
  height: 30px;
  text-align: center;
  padding-top: 5px;
  top: 110px;
  left: 50px;
}

.muatragop{
  position: relative;
  top: 180px;
}
.border_muatragop{
  position: absolute;
  border: 2px solid red;
  border-radius: 10px;
  background-color: white;
  width: 100px;
  height: 30px;
  text-align: center;
  padding-top: 5px;
  top: 0px;
  left: 60px;
  color: red;
}

.list_tragop{
  position: absolute;
  top: 40px;
  left: 25px;
}

.list_TT{
  font-size: 12px;
  text-align: center;
  border: 0px solid;
  border-radius: 10px;
  background-color: red;
  color: white;
  padding-top: 6px;
  width: 200px;
  height: 30px;
  position: absolute;
  top: 90px;
  left: 10px;
}

.list_tragop_2{
  position: absolute;
  top: 130px;
  left: 25px;
}

th{
  font-size: 8px;
  background-color: red;
  color: white;
  width: 50px;
  height: 20px;
  border-radius: 5px;
}

.list_tragop_2_table {
  position: absolute;
  top: 125px;
  left: 200px;
}

.thanhtoan_2{
  position: absolute;
  color: white;
  border: 0px solid;
  border-radius: 10px;
  background-color: green;
  width: 100px;
  height: 30px;
  text-align: center;
  padding-top: 5px;
  top: 190px;
  left: 70px;
}

.list_TT_2{
  font-size: 12px;
  text-align: center;
  border: 0px solid;
  border-radius: 10px;
  background-color: red;
  color: white;
  padding-top: 6px;
  width: 200px;
  height: 30px;
  position: absolute;
  top: 230px;
  left: 10px;
}

.list_tragop_3{
  position: absolute;
  top: 280px;
  left: 25px;
}

.thanhtoan_3{
  position: absolute;
  border: 0px solid;
  color: white;
  border-radius: 10px;
  background-color: green;
  width: 100px;
  height: 30px;
  text-align: center;
  padding-top: 5px;
  top: 320px;
  left: 70px;
}