body{
    margin: 0px;
}
.borderpage{
    width: 100%;
}

header{
    background-color: #626567;
    font-size: 35px;
    text-align: center;
    padding: 20px;
    color: white;
}
.article{
    width: 70%;
    height: 400px;
    background-color: #D5D8DC;
    float: right;
}
.article p, h1{
    padding: 10px;
}
.navigation{
    width: 30%;
    height: 400px;
    background-color: #ABB2B9;
    float: left;
}
.navigation ul{
    list-style-type: none;
    padding: 10px;
}
.navigation a{
    color: blue;
}
footer{
    background-color: #626567;
    text-align: center;
    padding: 10px;
    color: white;
    clear: both;
}
