.grid-container{
    display: grid;
    gap: 10px;
    border: 1px solid black;
    padding: 20px;
    grid-template-columns: repeat(10,auto);
    width: 1200px;
    margin: 0 auto;
}
.header{
    grid-column: 1/ span 10;
    grid-row: 1;
    background-color: #28B463 ;
    padding: 0 20px;
    color: white;
    font-size: 20px;
}
.menu{
    grid-column: 1/ span 2;
    grid-row: 2;
    padding: 0;
    /* width: 300px; */

}
.menu ul{
    list-style-type: none;
    padding: 0;
}
.menu ul li{
    display: block;
    margin: 1px;
    background-color:#D5DBDB;
    border-radius: 10px;

}
.menu ul li:hover{
    background-color: #28B463;
    border-radius: 10px;
}
.menu ul li a{
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-weight: bolder;
    display: flex;
    padding: 20px;
}
.content{
    grid-column: 3/span 6;
    grid-row: 2;
    padding: 10px;
}
.content img{
    width: 100px;
    height: 100px;
    display: inline;
}
.content>div{
    display: flex;
}
.content>div a{
    color: black;
    font-weight: bolder;
}
.sidebar{
    grid-column: 9/span 2;
    grid-row: 2;
    background-color: #5DADE2 ;
    /* width: 300px; */
    padding: 10px;
}
.footer{
    grid-column: 1/span 10;
    grid-row: 3;
    background-color: #D5DBDB;
    text-align: center;
}
