.container{
    /* display: grid;
    column-gap: 1px;
    margin: 0px;
    grid-template-columns: 400px 400px  400px; */

    display: grid;
    column-gap: 30px;
    row-gap: 40px;
    grid-template-columns: 400px 400px 400px;

}
.border{
    width: fit-content;
    margin: 0px auto;
}