p{
    text-align: center;
}
.tagaudio{
    text-align: center;
    border: 1px solid black;
    width: fit-content;
    margin: 10px auto;
}
.tagvideo{
    text-align: center;
    border: 2px solid red;
    margin: 10px auto;
    width: fit-content;
    padding: 10px;
}